@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$Light-rose:rgb(246, 236, 249);
$Light-rose2:rgb(237, 219, 251);
$Dark-black:black;
$Dark-purple:rgb(73, 53, 90);
$White:white;

$font-text:'Open Sans', sans-serif;
$font-titleCV:'Vollkorn', serif;;
$font-descriptionCV:'Pacifico', cursive;